<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<base href="../" target="_blank">
		<!-- Title here -->
		<title>Profile - Cook UPs</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- Portfolio CSS -->
		<link href="css/prettyPhoto.css" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="css/font-awesome.min.css" rel="stylesheet">	
		<!-- Custom Less -->
		<link href="css/less-style.css" rel="stylesheet">	
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
		<!--[if IE]><link rel="stylesheet" href="css/ie-style.css"><![endif]-->
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>
	
	<body>
		
			
		<!-- Page Wrapper -->
		<div class="wrapper">
		
			<!-- Header Start -->
			
			<div class="header">
				<div class="container">
					<!-- Header top area content -->	
					<div class="header-top">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								
							</div>
							<div class="col-md-4 col-sm-4">
								
							</div>
							<div class="col-md-4 col-sm-4">
					
								<div class="clearfix"></div>
							</div>
						</div>
					</div>				
					<div class="row">
						<div class="col-md-4 col-sm-5">
							<!-- Link -->
							<a href="/">
								<!-- Logo area -->
								<div class="logo">
									<img class="img-responsive" src="img/logo.png" alt="" />
									<!-- Heading -->
									<h1>CookUps</h1>
									<!-- Paragraph -->
									<p>Food made easy.</p>
								</div>
							</a>
						</div>
						<div class="col-md-8 col-sm-7">
							<!-- Navigation -->
							<nav class="navbar navbar-default navbar-right" role="navigation">
								<div class="container-fluid">
									<!-- Brand and toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>

									<!-- Collect the nav links, forms, and other content for toggling -->
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav">
											<li><a href="/"><img src="img/nav-menu/nav1.jpg" class="img-responsive" alt="" /> Home</a></li>
											
											<li><a href="form"><img src="img/nav-menu/nav3.jpg" class="img-responsive" alt="" />Search</a></li>

											<li><a href="profile"><img src="img/nav-menu/nav2.jpg" class="img-responsive" alt="" /> Profile</a></li>
												<ul class="dropdown-menu">
													<li><a href="items.html">Profile Home</a></li>
													<li><a href="item-single.html">Add Recipe</a></li>
													<li><a href="checkout.html">History</a></li>
													<li><a href="reserve-seats.html">Diet Track</a></li>
												</ul>
											</li>
											
											<li><a href="about"><img src="img/nav-menu/nav6.jpg" class="img-responsive" alt="" /> About</a></li>
											
										</ul>
									</div><!-- /.navbar-collapse -->
								</div><!-- /.container-fluid -->
							</nav>
						</div>
					</div>
				</div> <!-- / .container -->
			</div>
			
			<!-- Header End -->
			
			<!-- Banner Start -->
			
			<div class="banner padd">
				<div class="container">
					<!-- Image -->
					<img class="img-responsive" src="img/crown-white.png" alt="" />
					<!-- Heading -->
					<h2 class="white">Profile Page</h2>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Contact</li>
					</ol>
					<div class="clearfix"></div>
				</div>
			</div>
			
			<!-- Banner End -->
			
			
			
			<!-- Inner Content -->
			<div class="inner-page padd">
			
				<!-- Contact Us Start -->
				
				<div class="contactus">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<!-- Map holder -->
								<div class="map-container">
									<!-- Google Map -->
									<!-- <iframe	src="https://maps.google.co.in/?ie=UTF8&amp;ll=12.953997,77.63094&amp;spn=0.815042,1.352692&amp;t=m&amp;z=10&amp;output=embed"></iframe> -->
								</div>
							</div>
							<div class="col-md-6">
								<!-- Contact Us content -->
								<!-- <div class="row">
									<div class="col-md-6 col-sm-6">
										
										<div class="contact-details">
											
											<h4>Location</h4>
											<i class="fa fa-map-marker br-red"></i> <span>#768, 5th floor, N S Building,<br />Csm Block, Park Road,<br /> Bangalore - 234567</span>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										
										<div class="contact-details">
											
											<h4>On-line Order</h4>
											
											<i class="fa fa-phone br-green"></i> <span>+91 88-88-888888</span>
											<div class="clearfix"></div>
											
											<i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">abc@example.com</a></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div> -->
								<!-- Contact form -->
								<div class="contact-form">
									<!-- Heading -->
									<h3><%=user.uname%>'s bio</h3>
									<!-- Form -->
									<form role="form">
										<div class="form-group">
											<!-- Form input -->
											<input class="form-control" type="text"
											value"<%=user.uname%>"
											 placeholder="Master Chef" />
										</div>
										<div class="form-group">
											<!-- Form input -->
											<input class="form-control" type="email" 
											value=<%=user.email%>
											placeholder="sus@cookups.org" />
										</div>
										<div class="form-group">
											<!-- Form text area -->
											<textarea class="form-control" rows="3" 
												placeholder= "Bio:I'm so cool."
											 ><%if(user.bio){%><%=user.bio%><%}%></textarea>
										</div>
										<!-- Form button -->
									</form>
								</div><!--/ Contact form end -->
							</div>
							
						</div>
					</div>
				</div>
				
				<!-- Contact Us End -->
			
				<!-- Showcase Start -->
				
				<div class="showcase">
					<div class="container">
						<div class="row">
							<!-- Inner Content -->
							<div class="inner-page padd">
							
								<!-- Inner page menu start -->
								<div class="inner-menu">
									<div class="container">
										<div class="row">
											<div class="col-md-4 col-sm-6">
											</div>
											<div class="col-md-4 col-sm-6">
												<!-- Inner page menu list -->
												<div class="menu-list">
													<!-- Menu item heading -->
													<center><h3>Added Recipe</h3></center>
												</div>
											</div>
											<div class="col-md-4 col-sm-6">
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
				
				<!-- Showcase End -->
				
			</div><!-- / Inner Page Content End -->	
			
			<!-- Inner Content -->
			
			<div class="inner-page padd">
				
				<!-- Shopping Start -->
				
				<div class="shopping">
					<div class="container">
						<!-- Shopping items content -->
						<div class="shopping-content">
							<div class="row">
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop1.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #1 Title</a></h4>
										</div>
									<!-- 	<span class="item-price pull-right">$49</span> -->
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop2.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #2 Title</a></h4>
										</div>
								<!-- 		<span class="item-price pull-right">$31</span> -->
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop3.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #3 Title</a></h4>
										</div>
										<!-- <span class="item-price pull-right">$29</span> -->
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop4.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #4 Title</a></h4>
										</div>
										<!-- <span class="item-price pull-right">$21</span> -->
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop5.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #5 Title</a></h4>
										</div>
									<!-- 	<span class="item-price pull-right">$15</span> -->
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop6.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #6 Title</a></h4>
										</div>
									<!-- 	<span class="item-price pull-right">$25</span> -->
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop7.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #7 Title</a></h4>
										</div>
										<!-- <span class="item-price pull-right">$43</span> -->
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<div align="center">
											<a href="item-single.html"><img style="height:250px; width:250px;" class="img-responsive" src="img/shopping/shop8.jpg" alt="" /></a>
										</div>
										<!-- Shopping item name / Heading -->
										<div align="center">
											<h4><a href="item-single.html">Recipe #8 Title</a></h4>
										</div>
										<!-- <span class="item-price pull-right">$19</span> -->
										<div class="clearfix"></div>
										
									</div>
								</div>
							</div>
							<!-- Pagination -->
							<div class="shopping-pagination">
								<ul class="pagination">
									<li class="disabled"><a href="#">&laquo;</a></li>
									<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
							<!-- Pagination end-->
						</div>
					</div>
				</div>

			<!-- Footer Start -->
			
			<div class="footer padd">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Logo area -->
								<div class="logo">
									<img class="img-responsive" src="img/logo.png" alt="" />
									<!-- Heading -->
									<h1>CakeFactory</h1>
								</div>
								<!-- Paragraph -->
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								<hr />
							</div> 
						</div>
						<div class="col-md-3 col-sm-6">
							
							<!-- <div class="footer-widget">
							
								<h4>Famous Dishes</h4>
								
								<a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
								<a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
								<a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
								<a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
								<a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
								<a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
								<a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
								<a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
								<a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
							</div>  -->
						</div> 
						<div class="clearfix visible-sm"></div>
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Heading -->
								<h4>Join Us Today</h4>
								<!-- Paragraph -->
								<p>There is no one who loves pain itself, who seeks after it and wants to have it.</p>
								<!-- Subscribe form -->
								<form role="form">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Your name" />
									</div>
									<div class="form-group">
										<input class="form-control" type="email" placeholder="Your email" />
									</div>
									<button class="btn btn-danger" type="button">Subscribe</button>
								</form>
							</div> <!--/ Footer widget end -->
						</div>
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Heading -->
								<h4>Contact Us</h4>
								<div class="contact-details">
									<!-- Address / Icon -->
									<i class="fa fa-map-marker br-red"></i> <span>#768, 5th floor, N S Building,<br />Csm Block, Park Road,<br /> Bangalore - 234567</span>
									<div class="clearfix"></div>
									<!-- Contact Number / Icon -->
									<i class="fa fa-phone br-green"></i> <span>+91 88-88-888888</span>
									<div class="clearfix"></div>
									<!-- Email / Icon -->
									<i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">abc@example.com</a></span>
									<div class="clearfix"></div>
								</div>
								<!-- Social media icon -->
								<div class="social">
									<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
									<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
									<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
									<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
								</div>
							</div> <!--/ Footer widget end -->
						</div>
					</div>
					<!-- Copyright -->
					<div class="footer-copyright">
						<!-- Paragraph -->
						<p>&copy; Copyright 2014 <a href="#">CookUps</a></p>
					</div>
				</div>
			</div>
			
			<!-- Footer End -->
			
		</div><!-- / Wrapper End -->
		
		
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
		
		
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Pretty Photo JS -->
		<script src="js/jquery.prettyPhoto.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<!-- JS code for this page -->
		<script>
		
		</script>
	</body>	
</html>



<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
  </div>
  ...
</div>
