<!-- Footer Start -->

			
				<div class="footer padd">
					<center>
						<div class="logo">
							<img class="img-responsive" src="img/logo.png" alt="" />
							<!-- Heading -->
							<h1>Cook Ups</h1>
						</div>
						<!-- Paragraph -->
						<p>Cooking made easy!</p>
						<!-- Paragraph -->
						<p>&copy; Copyright 2014 <a href="#">CookUps</a></p>
					</center>
				</div>
			</div>
			
			<!-- Footer End -->